body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    font-size: 45px;
}

header {
    background-color: #C8102E;
    color: white;
    padding: 35px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

nav ul li {
    display:inline;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

main {
    /*padding: 20px;*/
    font-size: 20px;
}

footer {
    background-color: #524727;
    color: #CAC7A7;
    padding: .1px 20px; /* Adjusted padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
